@model Movie

<form asp-action="SaveStudent" method="post">
    <label asp-for="Title"></label>
    <input type="text" asp-for="Title" value="@Model.Title" />
    @*<br />
    <label asp-for="LastName"></label>
    <input type="text" asp-for="LastName" value="@Model.LastName" />
    <br />
    <label asp-for="Dob"></label>
    <input type="text" asp-for="Dob" value="@Model.Dob.ToShortDateString()" />
    <br />
    <label asp-for="Gpa"></label>
    <input type="text" min="0" max="4" asp-for="Gpa" value="@Model.Gpa" />*@
    <br />
    @*editing a student*@
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    }
    <input type="submit" class="btn btn-light" value="Save Movie!" />
</form>